ul.nav
    li.nav-item
        a.nav-link(href="#").
            Home
    li.nav-item
        a.nav-link(href="#").
            Contacto
    li.nav-item
        a.nav-link(href="#").
            Productos
    li.nav-item
        a.nav-link(href="#").
            Servicios